
.order {
  padding: 15px 15px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 15px;
}

.shortcuts {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f6f8f9;
  width: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 30px;
  grid-template-rows: repeat(26, 1fr);
  grid-gap: 12px;
}

.marques {
  margin-left: 30px;
}