
.App {
  background-color: #ffffff;
}

.order {
  padding: 15px 15px 15px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 60px;
  grid-gap: 10px;
}

.shortcuts {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f8f9;
  width: 30px;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 30px;
  grid-template-rows: repeat(26, 1fr);
  grid-gap: 12px;
}

.marques {
  margin-left: 30px;
}