.Car {
    width: 90px;
    border-radius: 5px;
    border: 3px solid #000000;
    padding: 15px;
    font-size: 10px;
    background-color: hsl(0, 100%, 100%);
}

.Owned {
    background-color: hsl(0, 0%, 25%);
    color: white;
}

.Class-D {
    border-color: #1BA9E9;
}
.Class-C {
    border-color: #E1BA0D;
}
.Class-B {
    border-color: #DB511B;
}
.Class-A {
    border-color: #C53419;
}
.Class-S1 {
    border-color: #882FF2;
}
.Class-S2 {
    border-color: #882FF2;
}
.Class-X {
    border-color: #19A83C;
}