.Marque {

}

.HideMarque {
    display: none;
}

.Marque > div.title {
    background: #b5eeff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b5eeff 38%, #edf1ff 87%, #ffffff 88%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b5eeff 38%,#edf1ff 87%,#ffffff 88%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b5eeff 38%,#edf1ff 87%,#ffffff 88%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5eeff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 8px 20px;
    width: 95%;
    font-weight: bold;
}

.cars {
    overflow-y: hidden;
    overflow-x: auto;
    height: 120px;
    padding: 15px 30px 15px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-auto-rows: 120px;
    grid-gap: 10px;
    grid-auto-flow: column;
}

.cars::-webkit-scrollbar {
    display: none;
}
